@font-face {
  font-family: 'Gameplay';
  src: url('/assets/fonts/Gameplay.ttf');
  font-style: normal;
  font-weight: 100;
}

* {
  padding: auto;
  margin: auto;
  box-sizing: border-box;
  font-family: Helvetica;
}


form {
  padding-left:25px;
  padding-right:25px;
  padding-top:60px;
  background-color: #2a7b9b;
  margin: 15% auto;
  border: 4px solid #eddd53;
  border-radius: 20px;
  position:relative;
  z-index:1;
}

form > div{
  position:absolute;
  top:0;
  left:50%;
  padding:0 20px;
  transform:translate(-50%,-50%);
  background-color: #c70039;
  border: 4px solid #eddd53;
  border-radius: 20px;
  text-align:center;
}

form > div > img{
  filter:invert(1);
  width:100px;
}


form > input,
form > textarea {
  padding: 12px;
  margin: 12px auto;
  border: 2px solid #eddd53;
  color: #000000;
  background-color: rgba(243, 242, 242, 0.603);
  border-radius: 4px;
  display: block;
  width: 70vw;
}

form > textarea{
  height:100px;
  resize:none;
}

form > input[type="submit"] {
  max-width: 20vw;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: 0.35s;
  font-family: 'Gameplay';
}

form > input[type="submit"]:hover {
  background-color: rgb(250, 225, 1);
  font-family: 'Gameplay';
}

label {
  font-size: 12px;
  font-family: 'Gameplay'; 
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 