:root {
    --primary-color : #2a7b9b ; 
    --secondary-color : #eddd53 ;
    --third-color : #c70039 ; 
}

body {
    --background-img:"/assets/fond_body.png" ; 
}


/*  Body settings   */

body{
    background-image: url("/assets/fond_body.png");
    background-repeat: no-repeat;
    background-position: cover; 
    
}