:root {
  --primary-color: #2a7b9b;
  --secondary-color: #eddd53;
  --third-color: #c70039;
  --background-color: #fffcfc;
}

body {
  --background-img: '/assets/fond_body.png';
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

/*  Body settings   */

body {
  background-image: url('/assets/fond_body.png');
  background-repeat: no-repeat;
  background-position: cover;
  height: 100vh;
}

.containerHome {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  background-color: var(--background-color);
  border-radius: 20px;
  border: solid 2px var(--primary-color);
  border-color: var(--primary-color);
  min-height: 450px;
  max-width: 300px;
}

.tileDivImg {
  width: 100%;
  height: 40%;
  max-width: 300px;
  border-radius: 20px;
}

.tileImg {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tileTitle {
  color: var(--primary-color);
  font-weight: bold;
}

.tileText {
  color: var(--primary-color);
}

@media only screen and (min-width: 650px) {
  .containerHome {
    display: flex;
    flex-direction: row;
  }

  .tileTitle {
    color: var(--third-color);
  }
}
